.tooltipTarget {
  position: relative;
  color: white;
  background-color: mediumslateblue;
  padding: 10px;
  font-weight: bold;
  width: 300px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
.tooltipTarget div {
  color: white;
  background-color: black;
  padding: 10px;
  position: absolute;
  opacity: 0;
  z-index: 999;
}
.tooltipTarget div::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: black;
  z-index: -1;
  transform: rotate(45deg);
}
.tooltipTarget:hover div {
  opacity: 1;
}
